{{#with page}}
<div class="container main-container headerOffset">
    <h1 class="section-title-inner">
        <span><i class="fa fa-pagelines"></i> {{title}}</span>
    </h1>
    <div class="row">
        <div class="col-xs-12">
            {{{editable_field "body"}}}
        </div>
    </div>
</div>
{{/with}}
<div class="gap"></div>
