<div class="container main-container headerOffset">
    <h1 class="section-title-inner" style="text-align:center">
        <span><i class="fa fa-remove"></i> PAGE NOT FOUND</span>
    </h1>
    <div style="text-align:center">
        <a class="btn btn-default" href="cms_index"><i class="fa fa-arrow-left"></i>Go Back</a>
    </div>
</div>
<div class="gap"></div>
